@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;900&family=Roboto:wght@400;500;700&display=swap');
@import url('./reset.css');

html {
    /* box-sizing: border-box; */
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #1C1C1C;
    color: #fff;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.container {
    box-sizing: border-box;

    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: #fff ;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

img {
    max-width: 100%;
}

.header {
    padding: 22px 0;

    position: relative;
    z-index: 10;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a:hover {
    /*   */
    color: #fff;
    opacity: 1;
}
 
.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 165px;
    height: 50px;

    font-weight: 500;
    font-size: 16px;

    border-radius: 5px;
    background: #F6762C;

    transition: opacity 0.3s;
}  

.btn:hover {
    opacity: 0.8;
}

.btn--small {
    font-size: 12px;
    width: 140px;
    height: 40px;
}

/* Main start */
/* Welcome start */
 
.welcome {
    box-sizing: border-box;
    max-height: 100vh;

    margin-top: -100px;
    padding: 240px 0;

    background-image: url("/images/welcome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text {
    width: 550px;
}
 
.welcome__subtitle {
    margin-bottom: 7px;

    font-size: 14px;
    letter-spacing: 0.1em;
}
 
.welcome__title {
    font-size: 58px; 
}
 
.welcome__desc {
    margin: 40px 0;

    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;
}

/* Welcome end */

/* Food list start */

.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    width: 260px;
    border-radius: 10px;
    background: #312F30;

    overflow: hidden;

    text-align: center;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__text-wrapper {
    padding: 30px 20px; 
}

.food-list__title {
    font-size: 20px;
}

.food-list__desc {
    opacity: 0.7;
}
 
/* Food list end */

/* Order start */

.order {
        background-color:#312F30;
}

.order .container {
    display: flex;
    align-items: center;

    padding-right: 100px;
}

.order__img {
    min-width: 470px;
}

.order__text {
    max-width: 360px;
}

.order__title {
    margin-bottom: 45px;
    
    font-size: 44px;
    font-weight: 500;
}

.order__desc {
    margin-bottom: 16px;

    opacity: 0.7;
}

.order__price {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #F6762C;
}

.order__price + .order__price {
    margin-left: 3px;
}

.order__price--old {
    letter-spacing: 1.6px;
    text-decoration: line-through;
    font-size: 16px;
    
    opacity: 0.5;
}

.order .btn {
    margin-top: 10px;
}

/* Order end */

/* Products start */

.product {
    padding: 150px 0;
}

.product .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.product__card {
    box-sizing: border-box;

    width: 550px;
    height: 300px;

    padding: 60px 30px 60px 290px;

    border-radius: 25px;

    opacity: 0.78;
    transition: opacity 0.3s;

    background-color: #5e4747;
    background-size: cover;
    background-position: center;
}

.product__card:hover {
    opacity: 1;
}

.product__card:nth-child(even) {
    padding-left: 30px;
    padding-right: 290px;
}

.product__title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0;
}

.product__desc {
    opacity: 0.7;
    margin-bottom: 11px;
}

.product__price {
    color: #F6762C;

    font-weight: 500 ;
    letter-spacing: 1.6px;
}

.product__price + .product__price {
    margin-left: 5px;
}

.product__price--old {
    font-size: 16px;
    letter-spacing: 1.6px;
    text-decoration: line-through;

    opacity: 0.5;
}

.product .btn {
    margin-top: 10px;
}

.card-queen {
    background-image: url(/images/main-1.jpg);
}
.card-pizza {
    background-image: url(/images/main-2.jpg);
}
.card-burger {
    background-image: url(/images/main-3.jpg);
}
.card-papa {
    background-image: url(/images/main-4.jpg);
}

/* Products end */

/* Feenback start */

.feedback {
    padding-bottom: 200px;
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 880px;
}

.feedback__text {
    margin: 0;

    width: 370px;

    text-align: center;
}

.feedback__text::before {
    content: url('/images/icons/quote.svg');
}

.feedback__desc {
    opacity: 0.7;
    margin: 30px 0;
}

.feedback__author {
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
}

.feedback__subauthor { 
    display: block;

    font-size: 12px;
    font-weight: 500;
    opacity: 0.7;
}

/* Feenback end */

/* Download menu start */

.download__menu {
    background-color:#312F30;
    padding: 60px 0;
}

.download__menu  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.download__menu--text {
    font-size: 40px;
    font-weight: 500;
}

/* Download menu end */
/* Main end */

/* Footer start */


.footer {
     padding: 120px 0;
}

.footer a {
    font-size: 12px;
    font-weight: 400; 
}

.footer .footer__title {
    display: inline-block;
    margin-bottom: 15px;

    font-size: 16px;
    font-weight: 500; 
    opacity: 1;
} 

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer__logo {
    width: 70px;
    margin-bottom: 22px;
}

.footer__link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__link + .footer__link{
    margin-top: 10px;
}

.footer__link::before {
    width: 12px;
    height: 12px;
}

.footer__link-mail::before {
    content: url("/images/icons/email.svg");
}

.footer__link-web::before {
    content: url("/images/icons/global.svg");
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__list-item {
    margin-top: 15px; 
    opacity: 0.8;
}

.footer__socials-link + .footer__socials-link {
    margin-left: 7px;;
}

/* Footer end */